@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,900;1,400&display=swap');

header {
    text-align: center;
}

body{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    background-color: rgb(161, 14, 14);
    color: whitesmoke;
}
h2{
    text-decoration: underline;
}

input {
    margin: 15px;
    border: 1px solid black;
  }

label {
    width: 150px;
    display: inline-block;
}

